@import 'styles/scss/colors';
@import 'styles/scss/breakpoints';

.input {
  margin-bottom: 18px;

  .MuiInputBase-input {
    line-height: 22px;
    font-size: 16px;
    letter-spacing: 0.1px;
    background-color: white;
    @include md {
      font-size: 20px;
      line-height: 26px;
    }
  }
}
