.wrapper {
  @keyframes growDown {
    0% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1.1);
    }
    100% {
      transform: scaleY(1);
    }
  }
}

.menu {
  perspective: 1000px;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: bottom center;
}
