version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "18:00"
      timezone: "America/New_York"
    open-pull-requests-limit: 2
    labels:
      - "dependabot"
      - "security"
    cooldown:
      semver-major-days: 14
      semver-minor-days: 2
      semver-patch-days: 2
    groups:
      minor-and-patch:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
      major:
        patterns:
          - "*"
        update-types:
          - "major"
