build/
node_modules/
internals/generators/
internals/scripts/
package-lock.json
yarn.lock
package.json
.elasticbeanstalk/
.git/
.github/
.next/
.storybook/
.vscode/
public/
CLAUDE.md
ai-rules/
test-results/
.clerk/
e2e-tests/playwright-report/
e2e-tests/test-results/
