@import '/styles/scss/breakpoints.scss';

.summary {
  max-width: calc(100vw - 48px);
  &:global(.with-image) {
    max-width: calc(100vw - 150px);
  }
  @include lg {
    max-width: 300px;

    &.with-image {
      max-width: 200px;
    }
  }

  @include xl {
    max-width: 350px;

    &:global(&.with-image) {
      max-width: 250px;
    }
  }
}
