.icon {
  &:global(.REDDIT) {
    color: #ff4500;
  }

  &:global(.FACEBOOK),
  &:global(.FACEBOOK_PUBLIC) {
    color: #4267b2;
  }

  &:global(.INSTAGRAM) {
    color: #833ab4;
  }

  &:global(.ONLINE_NEWS) {
    display: none;
  }

  &:global(.TIKTOK) {
    color: #ff0050;
  }
}
