.box {
  width: 100%;
  max-width: 640px;
  :global(.content) {
    display: none;
  }
  &:global(.expanded) {
    :global(.content) {
      display: block;
    }
  }
}

.pointTitle {
  &:global(.expanded) {
    margin: 36px 0 16px;
    font-weight: 900;
  }
}
