@import 'styles/scss/colors';
@import 'styles/scss/breakpoints';

.wrapper {
  min-height: 100vh;
  @include lg {
    min-height: calc(100vh - 56px);
  }
}

.textField {
  :global(.MuiInputBase-input) {
    background-color: #f7f7fe;
  }
}
