@import 'styles/scss/breakpoints.scss';

.wrapper {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;

  :global(a) {
    color: #1a6afc;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  :global(h1) {
    margin: 32px 0 24px;
    font-weight: 500;
    font-size: 36px;
  }

  :global(h2) {
    margin: 32px 0 24px;
    font-weight: 500;
    font-size: 28px;
  }

  :global(h3) {
    margin: 24px 0 20px;
    font-weight: 500;
    font-size: 22px;
  }

  :global(h4) {
    margin: 24px 0 20px;
    font-weight: 500;
    font-size: 20px;
  }

  :global(img) {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }

  :global(ul) {
    // list-style-type: none;
    :global(li) {
      margin: 10px 0;
    }
    :global(p) {
      margin-block-start: 10px;
      margin-block-end: 10px;
    }
  }

  :global(ol) {
    list-style-type: decimal;
    margin-block-start: 1em;
    padding-inline-start: 40px;
    :global(li) {
      margin: 10px 0;
    }
    :global(p) {
      margin-block-start: 10px;
      margin-block-end: 10px;
    }
  }

  :global(p) {
    margin: 0 0 16px;
  }
}
