@import '/styles/scss/colors.scss';
@import '/styles/scss/breakpoints.scss';

.boxTop {
  background: linear-gradient(-172deg, #ffffff 54.5%, #13161a 55%);
  border-radius: 4px;
  height: 205px;
  width: 100%;
}

.boxBottom {
  background: linear-gradient(-172deg, #13161a 54.5%, #ffffff 55%);
  border-radius: 4px;
  height: 205px;
  width: 100%;
}

.boxFooter {
  background: linear-gradient(172deg, #ffffff 54.5%, #d8a6ff 55%);
  border-radius: 4px;
  height: 205px;
  width: 100%;
}
