.button {
    & {
        cursor: pointer;
        border-radius: 30px;
        padding: 12px 18px;
        letter-spacing: 0.2px;
        border: solid 1.5px #000;
        background-color: #fff;
        color: #000;
        font-weight: 600;
        transition: background-color 0.5s, color 0.5s;

        &:hover {
            border: solid 1.5px #000;
            background-color: #000;
            color: #fff;
            text-decoration: none;
        }
    }
}