@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  line-height: 1.3;
  outline: none;
}

*:focus-visible {
  outline: 3px solid color-mix(in srgb, currentColor 40%, transparent);
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--outfit-font);
}

a:hover {
  text-decoration: underline;
}

a.no-underline:hover {
  text-decoration: none;
}

.rep-red {
  color: #bf0020;
}
.dem-blue {
  color: #0027dc;
}

.MuiInputLabel-root.Mui-focused {
  color: #000;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #000;
}

.MuiInputLabel-root.Mui-error {
  color: #d32f2f !important;
}

.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: #d32f2f !important;
}

strong {
  font-weight: 900;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}

ul li {
  display: list-item;
}

.row {
  @apply flex items-center;
}
.break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.text-white {
  color: #fff;
}

div.MuiAutocomplete-root:not(.office-autocomplete) div.MuiOutlinedInput-root {
  /* Search bar when not in focus */
  border-radius: 40px;
}

div.MuiAutocomplete-root:not(.office-autocomplete)
  div.MuiOutlinedInput-root.Mui-focused {
  /* Search bar when focused */
  border-radius: 20px 20px 0px 0px !important;
}

div.MuiAutocomplete-root:not(.office-autocomplete) div.Mui-focused fieldset {
  /* fieldset element is what controls the border color. Leaving only the bottom border when dropdown is visible */
  border-width: 1px !important;
  border-color: transparent transparent #d3d3d3 transparent !important;
}

.MuiAutocomplete-listbox {
  /* To control the background color of the listbox, which is the dropdown */
}

div.MuiAutocomplete-popper div {
  /* To get rid of the rounding applied by Mui-paper on the dropdown */
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.location-selects {
  legend {
    width: 0;
  }
}

@media all {
  .print-page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .print-page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: always;
  }
  .hidden-for-print {
    display: none;
  }
}

@page {
  size: auto;
  margin: 20mm;
}
