@import 'styles/scss/colors';
@import 'styles/scss/breakpoints';

.wrapper {
  padding: 65px 0;
}

.h1 {
  font-size: 40px;
  margin: 0 0 28px;
  font-weight: 900;

  @include lg {
    font-size: 64px;
  }
}

.up {
  z-index: 10;
  position: relative;
}

.yellow {
  position: absolute;
  height: 24px;
  width: calc(100% + 10px);
  bottom: 0;
  left: -5px;
  background-color: $yellow;
  @include lg {
    bottom: 4px;
    height: 30px;
  }
}

.content {
  font-size: 24px;
  line-height: 38px;
  font-weight: 300;
}
