@import '/styles/scss/colors';
@import '/styles/scss/breakpoints';

.yellow {
  background-color: $yellow;
  position: absolute;
  height: 16px;
  width: 100%;
  bottom: 0;
  left: 0;

  @include lg {
    height: 28px;
    bottom: 4px;
    left: -5px;
  }
}
