.socialFieldWrapper {
    margin-bottom: 12px;
    .MuiInputAdornment-positionStart {
        margin-right: 0;
    }
    .MuiTypography-colorTextSecondary {
        color: #000;
        font-weight: 500;
    }
}