.plan {
  h2 {
    font-weight: 900;
    margin-bottom: 36px;
    font-size: 24px;
  }
  h3 {
    font-weight: 900;
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 20px;
  }
  p {
    margin-bottom: 12px;
    margin-top: 12px;
  }
  table,
  :global(.table) {
    text-align: left;
    border-radius: 8px;
    background-color: #fafafa;
    margin: 24px 0;
    display: table;
  }
  :global(.tr) {
    display: table-row;
  }
  table td,
  table th,
  :global(.table .td),
  :global(.table .th) {
    padding: 16px;
    border-bottom: solid 1px #999;
    display: table-cell;
  }

  table tr:last-child td,
  :global(.table .tr:last-child .td) {
    border-bottom: none;
  }
  :global(.text-white) {
    color: black;
  }
}
