name: CI

on: pull_request

permissions:
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm
          cache-dependency-path: |
            package-lock.json
            e2e-tests/package-lock.json
      - run: npm ci
      - run: npm ci --prefix e2e-tests
      - run: npx tsc --noEmit --project e2e-tests/tsconfig.json
      - run: npm run lint --prefix e2e-tests
      - run: npx next typegen
      - run: npx tsc --noEmit
      - run: npm run test
